.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.dashboard {
  width: 90%;
  height: 90vh;
  margin: 1rem;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game {
  background-color: rgb(116, 176, 245);
  border-radius: 3rem;
  border: 1rem dashed #5841ac;
  height: 100%;
  width: 100%;
  text-align: center;
  scroll-behavior: auto;
  overflow: auto;
}

.game-board {
  display: inline-grid;
}

.players-table {
  border: 1px solid black;
}

.players-table td,.players-table th {
  border: 1px solid black;
}

.master {
  background-color: rgb(105, 92, 92) !important;
}

.player {
  background-color: rgb(0, 141, 47);
  color: white;
  display: inline;
  margin: 8px;
  padding: 5px;
}

.box {
  border: 1px solid black;
  border-radius: 1rem;
  text-align: center;
  display: grid;
  padding: 1rem;
}

.timer {
  background-color: red;
  width: 150px;
  height: 150px;
  border-radius: 75px;
  border: 10px solid #420008;
  color: white;
  text-align: center;
  font-size: 25px;
}
